<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winpow.services.manage.declare.mapper.DeclareYGGQJLMapper">

    <resultMap type="com.winpow.services.manage.declare.bean.DeclareYGGQJL" id="declareYGGQJLMap">
        <id column="pId" property="id"/>
        <result column="pUserid" property="userid"/>
        <result column="gqjlwcsj" property="gqjlwcsj"/>
        <result column="jzc" property="jzc"/>
        <result column="pCgptcg" property="cgptcg"/>
        <result column="pCgptzgbs" property="cgptzgbs"/>
        <result column="sbje" property="sbje"/>
        <result column="xtjsje" property="xtjsje"/>
        <result column="status" property="status"/>
        <result column="pichi" property="pichi" />
        <result column="memo" property="memo"/>
        <result column="pLurushijian" property="lurushijian"/>
        <result column="pInputuser" property="inputuser"/>
        <result column="pLastchgtime" property="lastchgtime"/>
        <result column="zlsfwz" property="zlsfwz" />
        <result column="qiyemingcheng" property="qiyemingcheng"/>

        <collection property="declareYGGQJLCoreList" ofType="com.winpow.services.manage.declare.bean.DeclareYGGQJLCore"
                    column="rele_id">
            <id column="id" property="id"/>
            <result column="userid" property="userid"/>
            <result column="cgptcg" property="cgptcg"/>
            <result column="cgptzgbs" property="cgptzgbs"/>
            <result column="cgptptgbs" property="cgptptgbs"/>
            <result column="lurushijian" property="lurushijian"/>
            <result column="inputuser" property="inputuser"/>
            <result column="lastchgtime" property="lastchgtime"/>
            <result column="cgptname" property="cgptname"/>
        </collection>

    </resultMap>

    <select id="selectPageList"
            parameterType="com.winpow.services.manage.declare.bean.DeclareYGGQJL" resultType="hashMap">
        select * from (
        SELECT ROW_NUMBER() over(order by a.lastchgtime desc) as rownumber ,
        a.id,
        a.userid,
        a.gqjlwcsj,
        a.jzc,
        a.cgptcg,
        a.cgptzgbs,
        a.sbje,
        a.xtjsje,
        a.status,
        a.pichi,
        a.memo,
        a.lurushijian,
        a.inputuser,
        a.lastchgtime,
        a.zlsfwz,
        b.qiyemingcheng
        from tb_sb_yggqjl a left join 
		(select t.* from(select b.*,row_number() over (partition by userid order by lurushijian desc) rn from tb_sb_base b) t where rn=1)b
		on a.userid = b.userid where 1=1
        <if test="userid != null and userid !=''">
            and a.userid like '%' + #{userid} + '%'
        </if>

        <if test="status != null and status !=''">
            and a.status = #{status}
        </if>
        <if test="qiyemingcheng != null and qiyemingcheng !=''">
            and b.qiyemingcheng like '%' + #{qiyemingcheng} + '%'
        </if>
        <if test="startTime != null and startTime !=''">
            and a.lurushijian &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and a.lurushijian &lt; #{endTime}
        </if>
        )t where rownumber &gt; = #{offset} and rownumber &lt; = #{pageSize}+#{offset}
    </select>
    <select id="selectPageCount"
            parameterType="com.winpow.services.manage.declare.bean.DeclareYGGQJL"
            resultType="java.lang.Integer">
        select count(id) from (
        SELECT ROW_NUMBER() over(order by a.lastchgtime desc) as rownumber ,
        a.id,
        a.userid,
        a.gqjlwcsj,
        a.jzc,
        a.cgptcg,
        a.cgptzgbs,
        a.sbje,
        a.xtjsje,
        a.status,
        a.pichi,
        a.memo,
        a.lurushijian,
        a.inputuser,
        a.lastchgtime,
        b.qiyemingcheng
        from tb_sb_yggqjl a left join 
		(select t.* from(select b.*,row_number() over (partition by userid order by lurushijian desc) rn from tb_sb_base b) t where rn=1)b
		on a.userid = b.userid where 1=1
        <if test="userid != null and userid !=''">
            and a.userid like '%' + #{userid} + '%'
        </if>

        <if test="status != null and status !=''">
            and a.status = #{status}
        </if>
        <if test="qiyemingcheng != null and qiyemingcheng !=''">
            and b.qiyemingcheng like '%' + #{qiyemingcheng} + '%'
        </if>
        <if test="startTime != null and startTime !=''">
            and a.lurushijian &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and a.lurushijian &lt; #{endTime}
        </if>
        )t
    </select>

    <select id="selectOne"
            parameterType="com.winpow.services.manage.declare.bean.DeclareYGGQJL"
            resultMap="declareYGGQJLMap">
         SELECT
        t.id as pId,
        t.userid as pUserid,
        t.gqjlwcsj,
        t.jzc,
        t.cgptcg as pCgptcg,
        t.cgptzgbs as pCgptzgbs,
        t.sbje,
        t.xtjsje,
        t.status,
        t.pichi,
        t.memo,
        t.lurushijian as pLurushijian,
        t.inputuser as pInputuser,
        t.lastchgtime as pLastchgtime,
        t.zlsfwz,
        b.qiyemingcheng,
		a.*
        from tb_sb_yggqjl t LEFT JOIN tb_sb_yggqjl_core a ON t.id = a.RELE_ID left join tb_sb_base b on t.userid = b.userid  where t.id=#{id}
        
		<if test="pichi != null  and pichi != ''">
            and t.pichi = #{pichi}
        </if>
    </select>

    <select id="selectAllList"
            parameterType="com.winpow.services.manage.declare.bean.DeclareYGGQJL"
            resultType="com.winpow.services.manage.declare.bean.DeclareYGGQJL">
        SELECT
        id,
        userid,
        gqjlwcsj,
        jzc,
        cgptcg,
        cgptzgbs,
        sbje,
        xtjsje,
        status,pichi, 
        memo,
        lurushijian,
        inputuser,
        lastchgtime,
        zlsfwz
        from  tb_sb_yggqjl t where 1=1
        <if test="userid != null and userid !=''">
            and userid = #{userid}
        </if>
        <if test="pichi != null  and pichi != ''">
            and pichi = #{pichi}
        </if>
    </select>

    <insert id="insert"
            parameterType="com.winpow.services.manage.declare.bean.DeclareYGGQJL" useGeneratedKeys="true"
            keyProperty="id">
		insert into tb_sb_yggqjl (
													 	userid,
													 	gqjlwcsj,
													 	jzc,
													 	cgptcg,
													 	cgptzgbs,
													 	sbje,
													 	xtjsje,
													 	status,pichi, 
													 	memo,
													 	lurushijian,
													 	inputuser,
													  lastchgtime,
													  zlsfwz
			 						) values (
				 										 	#{userid},
				 										 	#{gqjlwcsj},
				 										 	#{jzc},
				 										 	#{cgptcg},
				 										 	#{cgptzgbs},
				 										 	#{sbje},
				 										 	#{xtjsje},
				 										 	#{status},#{pichi},
				 										 	#{memo},
				 										 	getdate(),
				 										 	#{inputuser},
				 											getdate(),
				 											#{zlsfwz}
				 						)
	</insert>

    <update id="update"
            parameterType="com.winpow.services.manage.declare.bean.DeclareYGGQJL">
        update tb_sb_yggqjl set

        <if test=" userid !=null and  userid !=''">
            userid=#{userid},
        </if>

        <if test=" gqjlwcsj !=null and  gqjlwcsj !=''">
            gqjlwcsj=#{gqjlwcsj},
        </if>

        <if test=" jzc !=null and  jzc !=''">
            jzc=#{jzc},
        </if>

        <if test=" cgptcg !=null and  cgptcg !=''">
            cgptcg=#{cgptcg},
        </if>

        <if test=" cgptzgbs !=null">
            cgptzgbs=#{cgptzgbs},
        </if>

        <if test=" sbje !=null and  sbje !=''">
            sbje=#{sbje},
        </if>

        <if test=" xtjsje !=null ">
            xtjsje=#{xtjsje},
        </if>

        <if test=" status !=null and  status !=''">
            status=#{status},
        </if>

        <if test=" memo !=null and  memo !=''">
            memo=#{memo},
        </if>

        <if test=" zlsfwz !=null and  zlsfwz !=''">
            zlsfwz=#{zlsfwz},
        </if>

        lastchgtime=getdate()

        where id=#{id}
    </update>
    <delete id="delete">
        delete tb_sb_yggqjl where id=#{id}
    </delete>
</mapper>  
