<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winpow.services.manage.declare.mapper.DeclareCZBGMapper">

    <select id="selectPageList"
            parameterType="com.winpow.services.manage.declare.bean.DeclareCZBG" resultType="hashMap">
        select * from (
        SELECT  ROW_NUMBER() over(order by a.lastchgtime desc) as  rownumber ,
        a.id,
        a.userid,
        a.sqfx,
        a.bbgqymc,
        a.jyje,
        a.qysqje,
        a.xtjsje,
        a.status,
        a.memo,
        a.lurushijian,
        a.inputuser,
        a.lastchgtime,
        a.pichi, a.deal_time,
        b.qiyemingcheng,
        a.zlsfwz
        from tb_sb_czbg a left join 
		(select t.* from(select b.*,row_number() over (partition by userid order by lurushijian desc) rn from tb_sb_base b) t where rn=1)b
		on a.userid = b.userid where 1=1
        <if test="userid != null and userid !=''">
            and a.userid like '%' + #{userid} + '%'
        </if>
        <if test="bbgqymc != null and bbgqymc !=''">
            and a.bbgqymc like '%' + #{bbgqymc} + '%'
        </if>
        <if test="status != null and status !=''">
            and a.status = #{status}
        </if>
        <if test="qiyemingcheng != null and qiyemingcheng !=''">
            and b.qiyemingcheng like '%' + #{qiyemingcheng} + '%'
        </if>
        <if test="startTime != null and startTime !=''">
            and a.lurushijian &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and a.lurushijian &lt; #{endTime}
        </if>
        )t  where rownumber &gt; = #{offset} and rownumber &lt; = #{pageSize}+#{offset}
    </select>
    <select id="selectPageCount"
            parameterType="com.winpow.services.manage.declare.bean.DeclareCZBG"
            resultType="java.lang.Integer">
        select count(id) from (
        SELECT  ROW_NUMBER() over(order by a.lastchgtime) as  rownumber ,
        a.id,
        a.userid,
        a.sqfx,
        a.bbgqymc,
        a.jyje,
        a.qysqje,
        a.xtjsje,
        a.status,
        a.memo,
        a.lurushijian,
        a.inputuser,
        a.lastchgtime,a.deal_time,
        b.qiyemingcheng
        from tb_sb_czbg a left join 
		(select t.* from(select b.*,row_number() over (partition by userid order by lurushijian desc) rn from tb_sb_base b) t where rn=1)b
		on a.userid = b.userid  where 1=1
        <if test="userid != null and userid !=''">
            and a.userid like '%' + #{userid} + '%'
        </if>
        <if test="bbgqymc != null and bbgqymc !=''">
            and a.bbgqymc like '%' + #{bbgqymc} + '%'
        </if>
        <if test="status != null and status !=''">
            and a.status = #{status}
        </if>
        <if test="qiyemingcheng != null and qiyemingcheng !=''">
            and b.qiyemingcheng like '%' + #{qiyemingcheng} + '%'
        </if>
        <if test="startTime != null and startTime !=''">
            and a.lurushijian &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and a.lurushijian &lt; #{endTime}
        </if>
        )t
    </select>

    <select id="selectOne"
            parameterType="com.winpow.services.manage.declare.bean.DeclareCZBG"
            resultType="com.winpow.services.manage.declare.bean.DeclareCZBG">
        SELECT TOP 1
        a.id,
        a.userid,
        a.sqfx,
        a.bbgqymc,
        a.jyje,
        a.qysqje,
        a.xtjsje,
        a.status,
        a.memo,
        a.lurushijian,
        a.inputuser,
        a.lastchgtime,a.pichi,
        a.zlsfwz, convert(varchar(10),a.deal_time,23) as deal_time,
        b.qiyemingcheng
        from tb_sb_czbg a left join tb_sb_base b on a.userid = b.userid where a.id=#{id}
          <if test="pichi != null">
            and pichi = #{pichi}
        </if>
    </select>

    <select id="selectAllList"
            parameterType="com.winpow.services.manage.declare.bean.DeclareCZBG"
            resultType="com.winpow.services.manage.declare.bean.DeclareCZBG">
        SELECT
        id,
        userid,
        sqfx,
        bbgqymc,
        jyje,
        qysqje,
        xtjsje,
        status,
        memo,deal_time,
        lurushijian,
        inputuser,
        lastchgtime,pichi, 
        zlsfwz
        from  tb_sb_czbg t where 1=1
        <if test="userid != null and userid !=''">
            and userid = #{userid}
        </if>
        <if test="pichi != null  and pichi != ''">
            and pichi = #{pichi}
        </if>

    </select>

    <insert id="insert"
            parameterType="com.winpow.services.manage.declare.bean.DeclareCZBG" useGeneratedKeys="true"
            keyProperty="id">
		insert into tb_sb_czbg (
													 	userid,
													 	sqfx,
													 	bbgqymc,
													 	jyje,
													 	qysqje,
													 	xtjsje,
													 	status,pichi, deal_time,
													 	memo,
													 	lurushijian,
													 	inputuser,
													  lastchgtime,
													  zlsfwz
			 						) values (
				 										 	#{userid},
				 										 	#{sqfx},
				 										 	#{bbgqymc},
				 										 	#{jyje},
				 										 	#{qysqje},
				 										 	#{xtjsje},
				 										 	#{status},
				 										 	#{pichi},#{deal_time},
				 										 	#{memo},
				 										 	getdate(),
				 										 	#{inputuser},
				 											getdate(),
				 											#{zlsfwz}
				 						)
	</insert>

    <update id="update"
            parameterType="com.winpow.services.manage.declare.bean.DeclareCZBG">
        update tb_sb_czbg set

        <if test=" userid !=null and  userid !=''">
            userid=#{userid},
        </if>

        <if test=" sqfx !=null and  sqfx !=''">
            sqfx=#{sqfx},
        </if>

        <if test=" bbgqymc !=null and  bbgqymc !=''">
            bbgqymc=#{bbgqymc},
        </if>

		<if test=" deal_time !=null and  deal_time !=''">
            deal_time=#{deal_time},
        </if>

		
        <if test=" jyje !=null and  jyje !=''">
            jyje=#{jyje},
        </if>

        <if test=" qysqje !=null and  qysqje !=''">
            qysqje=#{qysqje},
        </if>

        <if test=" xtjsje !=null  ">
            xtjsje=#{xtjsje},
        </if>

        <if test=" status !=null and  status !=''">
            status=#{status},
        </if>

        <if test=" memo !=null and  memo !=''">
            memo=#{memo},
        </if>

        <if test=" zlsfwz !=null and  zlsfwz !=''">
            zlsfwz=#{zlsfwz},
        </if>

        lastchgtime=getdate()

        where id=#{id}
    </update>
    <delete id="delete">
        delete tb_sb_czbg where id=#{id}
    </delete>
</mapper>  
