body,html,div,ul,ol,ul,li,ol,dl,dd,dt,form,span,p,textarea{margin:0;padding:0;list-style:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight: normal;}
input{padding-top:0;padding-bottom:0;}
input::-moz-focus-inner{border:none;padding:0;}
select,input{vertical-align:middle;}
select,input,textarea{margin:0;}
input[type="text"],input[type="password"],input[type="email"],input[type="submit"],input[type="button"],input[type="tel"],textarea,input[type="number"]{outline-style:none;-webkit-appearance:none;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:0}
img,a img{border:0;margin:0;padding:0;}
img{border:none;}
a{outline-style:none;color:#787878;text-decoration:none}
i{font-style: normal;}
.clearfix:after {content:""; display:block; height:0; visibility:hidden; clear:both;font-size: 0;}
.clearfix{zoom:1;}
.clear{clear:both; height:0; font-size:0;overflow:hidden;}
.auto{margin-left:auto;margin-right:auto;}
.fl,li{float:left;}
.fr{float:right;}
.tc{text-align: center;}
.hide{display:none!important;}
em{font-style: normal;}
input,textarea{-webkit-appearance:none;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#999;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999;}
img{max-width:100%;}
.ov{overflow: hidden;}
.flex{display: flex;}
.tc{text-align: center;}
.tr{text-align: right;}
.tl{text-align: left;}
a,input,textarea,label{outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
input:disabled, textarea:disabled{ -webkit-opacity:1; opacity: 1; color:#333 !important;}
*{box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}